@font-face {
  font-family: Roboto;
  src: url(Roboto-Regular.ttf);
}

html {
  overflow-x: hidden;
  font-family: Roboto;
}

body {
  font-family: Roboto;
  margin: 0;
  background-color: #def4c6;
  color: #1b512d;
  overflow-x: hidden;
}

label {
  margin: 0;
}

p {
  margin: 0;
}

h1 {
  margin: 0;
  font-size: 1.7em;
}

h2 {
  font-size: 1.3em;
  margin: 0;
}

img {
  max-height: 150px;
  max-width: 300px;
}

button {
  border: 2px solid #b1cf5f;
  background-color: #efffde;
  color: #1b512d;
}

.input-field {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.form-button {
  width: 50%;
  height: 40px;
}

.round {
  border-radius: 10px;
}

.round-container {
  border-radius: 20px;
}

.input-box {
  width: 50%;
  border: 2px solid #b1cf5f;
  background-color: #efffde;
  outline-color: #1c7c54;
  height: 25px;
}

#login-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 75px;
  color: #1b512d;
}

#login-container {
  width: 30vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid green;
}

#login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#signup-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#signup-form {
  width: 30vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#header-container {
  margin-top: 10px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home-page-header {
  width: 50%;
  padding: 10px;
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid green;
  background-color: rgb(215, 255, 230);
}

.header-sub-container {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.profile-picture {
  object-fit: cover;
  width: 100px;
  height: 100px;
  border: 5px solid green;
  border-radius: 100%;
}

.header-button {
  width: 100px;
  height: 50px;
}

.plant-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
  height: 350px;
  border: 2px solid green;
  transition: border 0.5s;
}

.card-image {
  max-width: 150px;
}

.plant-title-type-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plant-container {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.count-button-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.count-button {
  width: 75px;
  height: 50px;
}

.plant-delete-button {
  width: 75px;
  height: 50px;
}

.edit-account-box {
  position: absolute;
  left: 25vw;
  padding: 1vw;
  border: 2px solid green;
  overflow: hidden;
  transition: height 0.5s, width 0.5s, border-width 0.5s, margin 0.5s,
    padding 0.5s, background-color 0.5s;
  transition-timing-function: ease;
}

#edit-form {
  display: flex;
  width: 100%;
  height: 80%;
  justify-content: space-evenly;
  align-items: center;
}

.aiur-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.admin-button {
  width: 50px;
  height: 50px;
  border: 2px solid #1c7c54;
}

.plant-request-card {
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  align-items: center;
  width: 200px;
  height: 350px;
}

.plant-request-container {
  width: 95vw;
  display: flex;
  padding: 20px;
  gap: 20px;
  flex-wrap: wrap;
}

.newplant-page {
  display: flex;
  flex-direction: column;
}

#newplant-page-container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  /* width: 100%;
  height: 100%; */
  justify-content: center;
  align-items: center;
}

.plant-row-container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

#newplant-header-container {
  display: flex;
  position: absolute;
  gap: 20px;
  left: 1vw;
  top: 1vh;
}

.user-plant-request-container {
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 40vh;
  justify-content: space-evenly;
  align-items: center;
}

.newplant-request-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
}

.user-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
  height: 350px;
  background-color: rgb(215, 255, 230);
  border: 2px solid green;
}

.users-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 10px 0;
}

#add-friend-page {
  width: 100vw;
}

.user-search-field {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 34vw;
  gap: 10px;
}

#search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

@media screen and (orientation: landscape) {
}

/*
*
*
*
*
*
*
*
*
*
*********************************************************************
MOBILE ONLY
**********************************************************************/

@media screen and (orientation: portrait) {
  img {
    max-height: 100px;
    max-width: 300px;
  }

  .card-image {
    max-width: 100px;
  }

  h1 {
    font-size: 1.2em;
  }

  h2 {
    font-size: 0.8em;
  }

  .input-box {
    width: 100%;
  }

  .input-field {
    justify-content: center;
    width: 75%;
  }

  .form-button {
    width: 30vw;
  }

  #mobile-footer-margin {
    margin-top: 100px;
  }

  #login-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: #1b512d;
  }

  #login-greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #login-container {
    width: 50vw;
  }

  #signup-form {
    width: 70vw;
  }

  #header-container {
    margin-top: 10px;
  }

  #home-page-header {
    width: 90vw;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .header-sub-container {
    padding-top: 5px;
    gap: 5px;
  }

  .header-button {
    width: 75px;
    height: 50px;
  }

  .plant-card {
    display: flex;
    width: 95vw;
    height: 130px;
    flex-direction: row;
  }

  .plant-container {
    margin-top: 0px;
    flex-direction: column;
    padding: 2vw;
    padding-top: 0;
  }
  .count-button-wrapper {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
  }

  .count-button {
    width: 40px;
    height: 40px;
  }

  .plant-delete-button {
    width: 60px;
    height: 75%;
  }

  .edit-account-box {
    left: 12vw;
  }

  #edit-form {
    flex-direction: column;
  }

  #aiur-button {
    margin: 10px 0px;
  }

  #newplant-header-container {
    position: static;
    justify-content: center;
    gap: 10px;
  }

  .plant-request-card {
    width: 95vw;
    height: 130px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .user-plant-request-container {
    width: 60vw;
    height: 60vh;
    padding: 20px;
  }
  .user-card {
    display: flex;
    width: 95vw;
    height: 130px;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .users-container {
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }

  .user-search-field {
    width: 70vw;
    margin-left: 15vw;
  }
}
