body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  background-color: #def4c6;
  color: #1b512d;
}

label {
  margin: 0;
}

p {
  margin: 0;
}

img {
  max-width: 200px;
}

button {
  border: 2px solid #b1cf5f;
  background-color: #efffde;
  color: #1b512d;
}

.input-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-button {
  width: 50%;
  height: 40px;
}

.round {
  border-radius: 10px;
}

.round-container {
  border-radius: 20px;
}

.input-box {
  width: 50%;
  border: 2px solid #b1cf5f;
  background-color: #efffde;
  outline-color: #1c7c54;
  height: 25px;
}

#login-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 75px;
  color: #1b512d;
}

#login-container {
  width: 30vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid green;
}

#login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#signup-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#signup-form {
  width: 30vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media screen and (orientation: portrait) {
  .input-box {
    width: 100%;
  }

  #login-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: #1b512d;
  }

  #login-greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #login-container {
    width: 50vw;
  }

  #signup-form {
    width: 50vw;
  }

  .form-button {
    width: 30vw;
  }
}
