body {
  margin: 0;
}

#LoginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

#SignUpPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.PlantImage {
  max-width: 100px;
}

.test-box {
  width: 100px;
  height: 100px;
  background-color: burlywood;
}

.test-card {
  border: solid 2px black;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}
